# MongoDB Connection
MONGO_URI=mongodb://root:123@ac-mpvrodr-shard-00-00.fxgs6dj.mongodb.net:27017,ac-mpvrodr-shard-00-01.fxgs6dj.mongodb.net:27017,ac-mpvrodr-shard-00-02.fxgs6dj.mongodb.net:27017/vuon-cay-db?ssl=true&replicaSet=atlas-zddknt-shard-0&authSource=admin&appName=Cluster0

# Server
PORT=3000
NODE_ENV=development

# JWT (cho giai đoạn 2 - authentication)
JWT_SECRET=your_secret_key_here_change_in_production

# Session (nếu dùng session)
SESSION_SECRET=your_session_secret_here
